#navbar{
    position:fixed;
}
body{
  text-align: left;
  line-height: 150%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
main {
  background-image: url("backround.jpg");
  background-image: linear-gradient(to left, rgb(145, 12, 12) );  /* not working */
  background-color: #7ab4f7;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left:5vw;
 }
 nav {
  background-image: url(nav\ backround.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #48ddc4;
  line-height: 200%;

 }
 table, th, td {
  border: 1px solid black;
  width: 10%,60%,10%;
  text-align: center;
}
 .content{
   margin-left: 2vw;
 }
 code{
  background: #1972bb33;
  border: 1px solid #ddd;
  border-left: 3px solid #0a024b;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 65%;
  overflow: auto;
  padding: .2em .2em;
  display: block;
  word-wrap: break-word;
}
/* Split the screen in half */
.split {
    height: 100%;
    width: 75%;         /* from some reason if i change the width percentage it ruins #user story14- */
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
  }
  
  /* Control the right side */
  .right {
    right: 0;
  }
  

  
  @media only screen and (max-width: 600px) {
    #navbar {
        display: none;
    } 
    #main-doc{
        margin: left 20vw right 20vw;
        padding-right: 30vw;
    }
}
    @media (any-hover: hover) {
        a:hover {
          background: yellow;
        }
      }
     
    @media only screen and (max-width: 400px) {
        #main-doc {
          margin-left: -10px;
        }
      
        code {
          margin-left: -20px;
          width: 100%;
          padding: 15px;
          padding-left: 10px;
          padding-right: 45px;
          min-width: 233px;
        }
      }
      