#navbar{
    position:fixed;

}
/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;         /* from some reason if i change the width percentage it ruins #user story14 */
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
  }
  
  /* Control the right side */
  .right {
    right: 0;
  }
  @media only screen and (max-width: 600px) {
    #navbar {
        display: none;
    } 
    #main-doc{
        margin: left 0vw right 20vw;
        padding-right: 5vw;
    }
}
    /* @media (any-hover: hover) {
        a:hover {
          background: yellow;
        }
      } */
      /* @media (resolution: 150dpi) {
        p {
            text-decoration-style: solid;
        }   
    } */
    @media only screen and (max-width: 400px) {
        #main-doc {
          margin-left: -10px;
        }
      
        code {
          margin-left: -20px;
          width: 100%;
          padding: 15px;
          padding-left: 10px;
          padding-right: 45px;
          min-width: 233px;
        }
      }
      